* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: #000;
}

.new-element {
	position: fixed;
	border: 2px solid white;
	animation-name: fadeInOut;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes fadeInOut {
	0% {
		transform: scale(0.3, 0.3);
		border-color: #b408bd;
	}
	30% {
		transform: scale(1, 1);
		border-color: #0868bd;
	}
	50% {
		transform: scale(0.6, 0.6);
		border-color: #7ebd08;
	}
	70% {
		transform: scale(1, 1);
		border-color: #ffa61c;
	}
	100% {
		transform: scale(0, 0);
		border-color: #4740a5;
	}
}

/*#colorPicker {
	position: fixed;
	z-index: 2;
	right: 20px;
	top: 50%;
	width: 100px;
	height: 100px;
	background: white;
}*/